body {
    font-family: 'Roboto', sans-serif;
    color: #434455; 
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 1440px;
}
img {
    display: block;
}
p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin: 0;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.section {
    padding-bottom: 120px;
    padding-top: 120px;
    max-width: 1440px
}
.section p {
    font-size: 16px;
}
.section:first-child {
    padding-bottom: 188px;
    padding-top: 188px;
}
/*END OF GLOBAL RULES*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*END OF SPECIAL RULE*/

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-color: white;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding: 0;
}
header a {
    text-decoration: none;
    color: currentColor;
}
header a:focus,  header a:hover {
    color: #404BBF;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-ul {
    margin: 0;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 76px;
}
.accent {
    color: #2e2f42;
}
.studio {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
}
.studio-hero{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-hero::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.studio:active {
    text-decoration: underline;
}
.address {
    font-style: normal;
}
.address ul {
    margin: 0;
}
.mail {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* END OF HEADER */

.section:first-child {
    background: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}   
.section h1 {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0 auto;
}
.section .button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    min-width: 169px;
    
}
.button:hover, .button:focus  {
    background-color: #404BBF;
}
/*END OF FIRST SECTION*/
.section ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.main-second-section-li {
    width: calc((100% - 72px) / 4);
}

.icon-bacground {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 24px 100px;
    width: 64px;
    height: 64px;
}

.main-second-section-h3 {
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
}
.main-second-section-p {
    margin: 0;
    text-align: left;
}
.section:nth-child(odd):not(:first-child) {
    background-color: #F4F4FD;
}
/*END OF SECOND SECTION*/

.team {
    margin-bottom: 72px;
}

.icon-social-link {
    margin-top: 8px;
    display: flex;
    gap: 24px;
}

.icon-social {
    width: 40px;
    height: 40px;
    fill: #4D5AE5;
}

.icon-social:hover {
    fill: #404BBF;
}

.main-third-section-li {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 4px 4px;
}
.main-third-section-li-div {
    padding-top: 32px;
    padding-bottom: 32px;
}
.main-third-section-li h3 {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}
.main-third-section-p {
    text-align: center;
    margin: 0;
}
/*END OF THIRD SECTION*/

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
}

.overlay-content {
    color: #F4F4FD;
    width: 296px;
    height: 96px;
    margin: 32px auto;
}

.box:hover .overlay {
    transform: translatey(0);
}

.portfolio {
    margin-bottom: 72px;
}
.section .main-fourth-section-ul {
    display: flex;
    row-gap: 48px;
}
.main-fourth-section-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.main-fourth-section-li .main-fourth-section-h3 {
    margin-bottom: 8px;
}
.main-fourth-section-h3, .main-fourth-section-p {
    margin: 0px;
}
/*END OF FOURTH SECTION*/

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: flex-start;
}

footer .logo {
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
    padding: 0;
}

.footer .container {
    display: flex;
}

.accent-footer {
    color: #f4f4fd;
}

footer p {
    color: currentColor;
    width: 264px;
    margin: 0;
}

.footer-icon-social-link {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.footer-social-link {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.footer-social-link .icon-social:hover {
    fill: #31D0AA;
}

/*END OF FOOTER*/